* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.flex {
    display: flex;
}

.row-gap {
    row-gap: 7px;
}

.wrap {
    flex-wrap: wrap;
}

.justify-end {
    justify-content: flex-end;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
    align-items: center;
}

.justify-center {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

header {
    height: 2.5em;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

.white {
    color: white;
}

#bt-header1 {
    height: 2.5em;
    width: 8.5em;
    background-color: gray;
    border-radius: 10px;
}

#bt-header2 {
    height: 2.5em;
    width: 3em;
    background-color: gray;
    border-radius: 10px;
}

main {
    margin-top: 50px;
}

.boxed-main {
    max-width: 95vw;
    margin: 0 auto;
}

div > span {
    position: absolute;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 0.4em;
}

.container-user {
    width: calc(100% / 7 - 5px);
    height: calc(100% / 5);
    position: relative;
}

img {
    display: block;
}

.container-footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 6em;
    background-color: darkgray;
}

.left-icons-footer {
    gap: 10px;
    padding-left: 30px;
}
.size-icon {
    font-size: 35px;
    text-align: center;
}

div > h5 {
    font-size: 15px;
    margin-top: 10px;
}

.container-icon {
    text-align: center;
    padding-left: 10px;
}

.arrow {
    font-size: 20px;
}

.margin-left {
    margin-left: 10px;
}

.red {
    color: red;
}

#bt-footer {
    background-color: lightgray;
    height: 7em;
    width: 12em;
    border-collapse: collapse;
    border: 0;
}